<% flash.each do |name, msg| %>
  <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
    <div class="container">
      <%= msg %>
    </div>
  </div>
<% end %>

<h1><%= @user.name %>: itinerary for san francisco</h1>

<br>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    san francisco, ca
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">san francisco</a></li>
    <li><a href="#">manhattan, ny</a></li>
  </ul>
</div>

<br>
<br>
<% @user.places.each do |place| %>
  <h3><%= place.name %><h3>
  <h5><%= place.address %></h5>
  <p><b>rating: </b><%= place.rating %> | <b>price level: </b><%= place.price_level %></p>

  <br>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
