<% flash.each do |name, msg| %>
  <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
    <div class="container">
      <%= msg %>
    </div>
  </div>
<% end %>

<h1><%= @user.name %>: itinerary for san francisco</h1>

<br>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    SAN FRANCISCO, CA, USA
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">SAN FRANCISCO, CA, USA</a></li>
    <li><a href="#">MANHATTAN, NY, USA</a></li>
  </ul>
</div>

<br>
<br>
<% @user.places.each do |place| %>
  <h3><%= place.name %><h3>
  <h5><%= place.address %></h5>
  <p><b>rating: </b><% (place.rating || 0).times do %>
    <i class="fa fa-star-o"></i>
  <% end %>
  | <b>price level: </b><% (place.price_level || 0).times do %>
    <i class="fa fa-usd"></i>
  <% end %></p>

  <%= link_to "Delete", place_delete_path(place.city_id, place), method: :delete, class: "btn btn-default btn-purple form-control"%>

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
